<template name="Footer">
  <footer>
    <div class="footer-wrapper">
      <div id="footer" class="ui three column grid container">

        <div class="column">
          <h4>Registered Independent Organizations (RIOs)</h4>
          <div class="ui list">
            <div class="item">UHM Food Recovery Network</div>
            <div class="item">Surfrider Foundation UHM Chapter</div>
          </div>
        </div>

        <div class="column">
          <h4>Unregistered Organizations</h4>
          <div class="ui list">
            <div class="item">NAMI on Campus at UH Manoa</div>
          </div>
        </div>

        <div class="column">
          <h4>Browse by Category</h4>
          <div class="ui list">
            <div class="item">Art</div>
            <div class="item">Music</div>
          </div>
        </div>

      </div>
    </div>

  </footer>
</template>
