<template name="Footer">

  <footer>
    <div class="footer-wrapper">
      <div id="footer" class="ui three column stackable relaxed grid container">

        <div class="column">
          <div id="footer-logo-box" class="item-box">

          </div>
        </div>

        <div class="column">
          <div class="item-box">
            <h4>Registered Independent Organizations (RIOs)</h4>
            <div class="ui list">
              <div class="item">UHM Food Recovery Network</div>
              <div class="item">Surfrider Foundation UHM Chapter</div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="item-box">
            <h4>Browse by Category</h4>
            <div class="ui list">
              <div class="item">Art</div>
              <div class="item">Music</div>
              <div class="item">Outdoors</div>
            </div>
          </div>
        </div>

      </div>

      <div id="footerbottom" class="ui stackable center aligned relaxed grid container">

        <p class="ui aligned center text">
          ICS 314 FALL 2016 ClubConnector
          <br>
          Bobby Figgs
          Keanu Robles
          <br>
          Wyatt Bartlett
          Yohan Yang
        </p>

      </div>

    </div>

  </footer>

</template>

