<template name="Footer">

  <footer>
    <div class="footer-wrapper">
      <div id="footer" class="ui relaxed grid container">

        <div class="five wide column">
          <div id="footer-logo-box" class="item-box">

          </div>
        </div>

        <div class="eleven wide column">
          <div class="item-box">
            <h4>About Us</h4>
            The University of Hawaii at Manoa ClubConnector is an ongoing project that tries to consolidate all of the
            university’s clubs into one place and makes them easier to find for students. Learn more about the project
            <a href="clubconnector.github.io">here</a>.
          </div>
        </div>

      </div>

      <div id="footerbottom" class="ui stackable center aligned relaxed grid container">

        <p class="ui aligned center text">
          ICS 314 FALL 2016 ClubConnector
          <br>
          Bobby Figgs
          Keanu Robles
          <br>
          Wyatt Bartlett
          Yohan Yang
        </p>

      </div>

    </div>

  </footer>

</template>

