<template name="Header">

  <div id="topmenu" class="ui borderless topmenu menu">

    <div class="ui container">

      <img class="ui image item"
           src="/images/uhm_title_small.png">

      <div class="right menu">
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search for a club">
            <i class="search link icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="menu" class="ui inverted stackable github borderless menu">
    <div class="ui container">
      <a class="ui header item" href="{{pathFor 'Home_Page'}}"><h1>ClubConnector</h1></a>
      <a class="{{ isActiveRoute 'Browse_Clubs_Page'}} ui item" href="{{ pathFor 'Browse_Clubs_Page' }}">Browse Clubs</a>
      {{#if currentUser}}
      <a class="{{ isActiveRoute 'Add_Club_Page'}} ui item" href="{{ pathFor 'Add_Club_Page' }}">Add Club</a>
      {{> Cas_Login }}
      {{else}}
      <div class="right item">{{> Cas_Login}}</div>
      {{/if}}
    </div>

  </div>

</template>
