.ui.borderless.topmenu.menu {
  box-shadow: none;
  border: none;
  margin: 0;
}

.ui.fluid.banner.image {
  margin: 10px;
  padding-right: 20px;
}

#menu {
  z-index: 2;
  margin: 0;
  margin-bottom: 12px;
  border-radius: 0;
  background-color: #1a1a1a;
  color: white;
  height: 28px;
}

#login-buttons a, .accounts-dialog a {
  color: white;
}

.login-close-text {
  color: black;
}

.image-background {
  background: url('/images/club.jpg') no-repeat center;
  background-size: contain;
  color: white;
  height: 410px;
}

.main.column{
  position: relative;
  top: 100%;
  transform: 			translateY(140%);
}

.main.column h1{
  padding: 50px;
  text-align: left;
  opacity: 1; !important
  z-index: 3;
}

#sloganColumn {
  background-color: rgb(11, 33, 31);
  background-color: rgba(11, 33, 31, 0.5);
  border-radius: 25px;
}

form.ui.form.club-data-form {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ui.celled.table {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-wrapper {
  z-index: 2;
  clear: left;
  border-top: 1px solid #ffffff;
  background: #222222;
  padding: 20px 0;
  text-align: left;
  color: white;
}

#footer {
  margin-top: 35px;
  margin-bottom: 10px;
}

#footer .column h4 {
  border-bottom: 1px solid
  #ffffff;
  padding-bottom: 5px;
}
