body {

}

.ui.fluid.banner.image {
  margin: 10px;
  padding-right: 20px;
}

#menu {
  margin: 0;
  margin-bottom: 30px;
  border-radius: 0;
  background-color: #005030;
  color: white;
}

#login-buttons a, .accounts-dialog a {
  color: white;
}

.ui.celled.table {
  margin-top: 30px;
  margin-bottom: 30px;
}

#footer {
  margin-top: 35px;
  margin-bottom: 10px;
}

