body {
  min-width: 245px;
}

#topmenu {
  box-shadow: none;
  border: none;
  margin: 0;
}

#menu {
  margin: 0;
  border-radius: 0;
  background-color: #1a1a1a;
  color: white;
  border-bottom: 1px solid #ffffff;
}

#menu .ui.container .item {
  background-color: #1a1a1a;
  padding-top: 8px;
  padding-bottom: 8px;
}

.image-background {
  background: url('/images/club.jpg') no-repeat center;
  background-size: cover;
  color: white;
  height: 515px;
  display: block;
}

.welcome {
  background: url('/images/landing.jpg') no-repeat center;
  background-size: contain;
}

#slogan-box {
  background-color: rgb(11, 33, 31);
  background-color: rgba(11, 33, 31, 0.5);
  padding: 5px;
  text-align: left;
  position: relative;
  top: 60%;
  left: 60%;
  max-width: 45%;
  padding-right: 100px;
}

form.ui.form.club-data-form {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ui.celled.table {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-wrapper {
  clear: left;
  border-top: 1px solid #ffffff;
  background-color: #1a1a1a;
  padding: 40px 0;
  text-align: left;
  color: white;
}

.footer-wrapper #footer .column .item-box {
  background-color: #222222;
  padding: 15px;
  min-height: 136px;
}

#footer .column .item-box h4 {
  border-bottom: 1px solid
  #ffffff;
  padding-bottom: 5px;
}

@media (max-width: 991px) {
  /* Rules for viewports smaller than 991px*/
  #slogan-box {
    top: 65%;
    left: 50%;
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  /* Rules for tablets and smaller viewports */
  #menu .ui.container .item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: #1a1a1a;
    border-bottom: 0.25px solid;
  }

  #slogan-box {
    top: 50%;
    left: 50%;
    max-width: 40%;
  }
}

@media (max-width: 539px) {
  /* Rules for tablets and smaller viewports */
  #slogan-box {
    top: 45%;
    left: 50%;
    max-width: 50%;
    padding-right: 10px;
  }
}

@media (max-width: 397px) {
  /* Rules for tablets and smaller viewports */
  #topmenu .ui.container .right.menu .item .ui.icon.input{
    max-width: 47%;
  }
}

@media (max-width: 287px) {
  /* Rules for phone-sized and smaller viewports */
  #topmenu .ui.container .right.menu .item .ui.icon.input{
    max-width: 26.5%;
  }
}
